main {
  margin: 0 24vw
}

p {
  margin: 1em 0
}

ul {
  list-style: outside none none;
  padding: 0;
  margin: 0.25em;
  text-align: left;
}

.largeIcon {
  height: 36px;
}

.badgeWrapper {
  margin: 0 10vw
}

.badge {
  background-color: #3b3b3b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  padding: 1em;
  text-align: center;
}

.badge h3,
.badge p,
.largeIcon {
  margin: 0;
}

.privacyDetails summary {
  cursor: pointer;
  user-select: none;
  color: #2b95f2;
  font-weight: 700;
}

.addInfo {
  margin-top: 1em;
}

@media only screen and (max-width: 812px) {
  .badgeWrapper,
  main {
    margin: 0
  }
}